#headerOuterContainer
  #headerInnerContainer
    #sponsorBar
      #sponsorBarContainer
        #socialMenu
          i.icon-share
          .micrositeSocialMenu
            .share-bar-container
              ul.share-bar
                li.share-bar-item.share-bar-item-desktop.socialMedia-facebook(title='Like/Share on Facebook', data-socialsite='facebook')
                  a(href='#')
                    i.icon(data-icon='u')
                li.share-bar-item.share-bar-item-desktop.socialMedia-twitter(title='Share on Twitter', data-socialsite='twitter')
                  a(href='#')
                    i.icon(data-icon='c')
                li.share-bar-item.share-bar-item-desktop.socialMedia-linkedin(title='Share on LinkedIn', data-socialsite='linkedin')
                  a(href='#')
                    i.icon(data-icon='o')
                li.share-bar-item.share-bar-item-desktop.contentTools-email(title='Email a Friend')
                  a(href='http://api.addthis.com/oexchange/0.8/forward/email/offer?pubid=uxtechtarget&url=http%3A%2F%2Fpreview.techtarget.com%3A8080%2Fibmbizconnect%3Fvgnextrefresh%3D1%233744114142001&title=Managing+the+%22Smart+Enterprise%22&email_template=TechTargetSearchSites&ct=1')
                    i.icon(data-icon='n')
        #sponsoredBy
          p.sponsoredByText #{data.content.header.scLabel}
          i.icon-iCircle
          .sponsorInfoPanel
            p #{data.content.header.scInfo}
    #micrositeHeader
      a.clientLogo
    #headerContainerClear
nav
  div#tabDropDown
    a
    i.icon-play
  ul#navList
    each navItem in data.content.nav
      li
        a(href="http://www.google.com") #{navItem.label}
