#heroAssetContainer
  a#heroImage(href="http://www.google.com",target="_blank")
    #heroOverlay
      h2.overlayTitle #{data.content.heroAsset.overlayTitle}
      p.overlayCTA #{data.cta.learnMore}
        i.icon-lightbulb
    #heroImageContainerOuter
      #heroImageContainerInner
        img(src="images/background-dark.jpg")
