extends searchWrappers/englishWrapper.jade
//- extends searchWrappers/germanWrapper.jade
//- extends searchWrappers/cwWrapper.jade
//- extends searchWrappers/lemagWrapper.jade
  
block content 
  #micrositeWrapper
    include headernav
    include wayfinder
    //- include heroPlayer
    include heroAsset
    include contentViewer
    include ads_widgets
