#micrositeWrapper nav {
  background: #ebebeb;
  position: relative;
  width: 100%;
  z-index: 4;
}

#tabDropDown {
  background: #fff;
  cursor: pointer;
  display: block;
  font-family: $fontArialRegular;
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto;
  padding: 12px 20px;
  text-transform: uppercase;
  width:280px;
  span{
    // float: left;
    display: inline-block;
    vertical-align: middle;
    width: 214px;
  }
  i {
    color: $navDropdownMobileFontColor;
    display: inline-block;
    float: right;
    font-size: 16px;
    margin-left: 10px;
    -webkit-transform: rotate(90deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
  }
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

ul#navList {
  background:#fff;
  border-top: 1px solid #b7b7b7;
  display: none;
  left:50%;
  list-style: none;
  margin: 0 0 0 -140px;
  padding: 0;
  position: absolute;
  width: 280px;

  li {
    border-bottom: 1px solid #b7b7b7;
    cursor: pointer;
    &.activeTab {
      display: none;
    }

    &:hover{
      background:$navDropdownMobileBackgroundColor;
      a{
        color:#fff;
      }
    }
    a {
      color:#7d7d7d;
      display: block;
      font-family: $fontArialRegular;
      font-size: 14px;
      font-weight: 700;
      padding: 10px 20px;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 640px) {
  #micrositeWrapper nav {
    background: url(../images/navBkg.png)repeat-x 0 0;
    height: 41px;
    left: inherit;
    margin:0 auto;
    overflow: hidden;
    position: relative;
    top: inherit;
    width: 100%;
  }
  #tabDropDown {
    display: none;
  }
  ul#navList {
    background: none;
    border:0;
    display: block;
    left:0;
    margin: 0;
    overflow: hidden;
    padding:0 20px;
    position: relative;
    top:1px;
    width: 100%;

    li {
      border: 0;
      cursor: pointer;
      display: table;
      float: left;
      height: 40px;
      position: relative;
      text-align: center;
      width: -webkit-calc(25% - 15px);
      width: -moz-calc(25% - 15px);
      width: calc(25%);
      a {
        color:#7d7d7d;
        display: table-cell;
        font-size: 12px;
        height: 100%;
        padding:0;
        vertical-align: middle;
      }
      &.activeTab {
        background: #fff;
        border-left: 1px solid #b7b7b7;
        border-right: 1px solid #b7b7b7;
        display: table;
        a {
          background: none;
          color:#000;
          display: table-cell;
          height:100%;
          position: relative;
          vertical-align: middle;
          z-index: 2;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  #micrositeWrapper nav{
    ul#navList{
      li{
        width: auto;
        a{
          padding: 0 20px;  
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  #micrositeWrapper nav{

    ul#navList{
      margin: 0 auto;
      padding:0 50px;
      width: 1280px;
    }
  }
}
