// #micrositeBody{
//   margin:0 auto;
//   width: 320px;
// }

#wayFinder{
  background: #fff;
  clear:left;
  padding:16px 20px;
}

#wayFinder h1{
  color: $wayfinderTitleFontColor;
  font-family: 'latomedium';
  font-size: 22px;
  line-height: 24px;
  text-align: center;
}

#wayFinder p{
  display: none;
}

@media(min-width:640px){

  #wayFinder{
    padding:25px 20px;
  }

  #wayFinder p{
    color: $wayfinderDescriptionFontColor;
    display: block;
    font-family: 'latoregular';
    font-size: 16px;
    line-height: 20px;
    margin-top: 18px;
    text-align: center;
  }
}

@media(min-width:960px){

  #wayFinder{
    padding:32px 20px;
  }

  #wayFinder h1{
    font-size: 30px;
    line-height: 34px;
  }

  #wayFinder p{
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
  }
}

@media(min-width:1280px){

  #wayFinder{
    margin:0 auto;
    padding:29px 50px;
  }

  #wayFinder h1{
    font-size: 38px;
    line-height: 42px;
    margin:0 auto;
    max-width: 1180px;
  }

  #wayFinder p{
    font-size: 24px;
    line-height: 28px;
    margin:20px auto 26px;
    max-width: 1180px;
  }
}
